<?xml version='1.0' encoding='utf-8'?>
<plugin id="cl-entel-plugins-copytoclipboard" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

  <name>EntelClipboard</name>

  <js-module name="EntelClipboard" src="www/EntelClipboard.js">
    <clobbers target="entelclipboard" />
  </js-module>

  <dependency id="cordova-plugin-add-swift-support" version="1.7.2"/>

  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="EntelClipboard">
        <param name="ios-package" value="EntelClipboard" />
      </feature>
    </config-file>

    <source-file src="src/ios/EntelClipboard.swift" />

  </platform>
</plugin>